body {
  padding: 0;
  background-image: url(../images/BEACH.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: Krungthep;
}

#game-intro {
  padding: 0px 0px;
  align-content: center;
  background-repeat: no-repeat;

}

#game-container {
  width: 100vw;
  justify-content: center;
}

#game-screen {
  padding: 0px 0px;
  height:100%;
  align-content: center;
  background-image: url(./images/BEACH.jpg);
  background-repeat: no-repeat;
}

#game-end {
  display: none;
}

#reset-button {
  display: none
}

.game-intro p {
  font-size: 18px;
  font-family: "Krungthep";
}

body button {
  font-size: 30px;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: Krungthep;
}